@import "~@/assets/scss/media";

.game-container {

  &__navigation {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__navigation-item {
    padding-right: 10px;
  }

  &__game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__game-title {
    font-size: 24px;
    color: #909090;
    margin: 20px 0px;
  }
}

@include media-size(null, $size-md) {
  .game-container {

    &__navigation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
    }

    &__navigation-item {
      padding-bottom: 10px;
      padding-right: 0px;
      width: 100%;
      text-align: center;
      max-width: 300px;
    }
  }
}