.winner-item {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-between;
  background: #d0d8dc;
  margin: 2px 0px;
  color: #aab2b6;

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }

  &__date {
    margin-left: auto;
    font-weight: bold;
    font-size: 16px;
  }
}

