.winner-item {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background: #92939a;
    margin: 5px 0px;

    &__name {
        font-size: 18px;
        font-weight: bold;
    }
    &__date {
        font-weight: bold;
        font-size: 16px;
    }
}

