.select {
  display: inline-block;
  background: #7b8d93;
  color: #f0f2f3;
  outline: none;
  cursor: pointer;
  height: 36px;
  min-width: 150px;
  font-size: 16px;

  &:hover, &:active {
    background: #6e9378;
  }

}